@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap')
	;

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #4169E1;
}

.Botao1 {
	text-decoration: none;
	background-color: #4169E1;
	padding: 5px 10px 5px 10px;
	color: #F8F8FF;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 20px;
	border: 0;
	cursor: pointer;
}

.Botao2 {
	text-decoration: none;
	background-color: #8B0000;
	padding: 5px 10px 5px 10px;
	color: #F8F8FF;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 20px;
}

.Caixa1 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #4169E1;
	border-radius: 5px;
}

.Caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #4169E1;
	border-radius: 5px;
}

#caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #4169E1;
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #4169E1;
	color: #F8F8FF;
}

#tabela td {
	border: 1px solid #ddd;
	padding: 10px;
}